.App {
  text-align: center;
}

.background {
  background-color: black;
}

.gif {
  position: absolute;
  top: 10%;
  left: 7%;
  max-width: 65%;
  max-height: 65%;
}

.homeText {
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
}

.aboutText {
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 18%;
}

.projectsText {
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 33%;
}

.contactText {
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 48%;
}

.nameText {
  background-color: white;
  position: absolute;
  padding-left: 3%;
  font-family: "Roboto", serif;
  font-size: 10vw;
  width: 65%;
}
