.App {
  text-align: center;
  height: 100%;
}

.background {
  background-color: black;
}

.gif {
  position: absolute;
  top: 10%;
  left: 2%;
  max-width: 65%;
  max-height: 46vh;
}

.h1 {
  cursor: pointer;
}
.homeText {
  cursor: pointer;
  border: none;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
}

.aboutText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 23%;
}

.projectsText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 43%;
}

.contactText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 63%;
}

.aboutHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 3.5vh;
  left: 3%;
  top: 3%;
}

.aboutMe {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 10%;
  width: 90%;
  font-family: "Roboto", serif;
  font-size: 1.5vh;
}

.skillsHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 3.5vh;
  left: 3%;
  top: 33%;
}

.skills {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 40%;
  width: 90%;
  font-family: "Roboto", serif;
  font-size: 1.5vh;
}

.educationHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 3.5vh;
  left: 3%;
  top: 18%;
}

.education {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 25%;
  width: 90%;
  font-family: "Roboto", serif;
  font-size: 1.5vh;
}

.gitIcon {
  position: absolute;
  max-height: 15%;
  max-width: 15%;
  top: 30%;
  left: 3%;
}

.linkedinIcon {
  position: absolute;
  max-height: 15%;
  max-width: 15%;
  top: 30%;
  left: 23%;
}

.mailIcon {
  position: absolute;
  max-height: 15%;
  max-width: 15%;
  top: 30%;
  left: 43%;
}

.projectContainer {
  height: 90vh;
  width: 50%;
  position: absolute;
}

.content {
  height: 80vh;
  overflow: auto;
}
.projectListing {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 4vh;
  left: 5%;
}

.projectDescriptionShort {
  background-color: black;
  position: absolute;
  color: white;
  left: 55%;
  top: 3%;
  width: 40%;
  font-family: "Raleway", serif;
  font-size: 2vh;
  font-weight: 100;
}

.previewImage {
  position: absolute;
  left: 55%;
  top: 23%;
  max-width: 40%;
  max-height: 35%;
}

.projectHeader {
  cursor: pointer;
  position: absolute;
  font-family: "Roboto", serif;
  font-size: 5vh;
  top: 8%;
  left: 3.5%;
  padding-right: 3vh;
  padding-left: 3vh;
  color: black;
  background: white;
}

.back {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 3.5vh;
  left: 2%;
  top: 2%;
}

.projectDescription {
  background-color: black;
  position: absolute;
  color: white;
  left: 2%;
  top: 20%;
  width: 70%;
  font-family: "Raleway", serif;
  font-size: 1.5vh;
  font-weight: 100;
}

.image1 {
  position: absolute;
  left: 60%;
  top: 20%;
  max-width: 40%;
  max-height: 35%;
}

iframe {
  position: absolute;
  left: 60%;
  top: 20%;
  max-width: 100%;
  max-height: 100%;
}

.gitLink {
  cursor: pointer;
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  font-family: "Roboto", serif;
  font-size: 3.5vh;
  left: 10%;
  padding-left: 2%;
  padding-right: 2%;
  top: 75%;
}

.nameText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  background-clip: border-box;
  cursor: pointer;
  position: absolute;
  font-family: "Roboto", serif;
  font-size: 10vw;
  width: 100%;
}
