.App {
  text-align: center;
}

.background {
  background-color: black;
}

.gif {
  position: absolute;
  top: 10%;
  left: 2%;
  max-width: 65%;
  max-height: 46vh;
}

.h1 {
  cursor: pointer;
}
.homeText {
  cursor: pointer;
  border: none;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
}

.aboutText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 18%;
}

.projectsText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 33%;
}

.contactText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 48%;
}

.nameText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  background-clip: border-box;
  cursor: pointer;
  position: absolute;
  font-family: "Roboto", serif;
  font-size: 10vw;
  width: 100%;
}
