.App {
  text-align: center;
}

.background {
  background-color: black;
}

.gif {
  position: absolute;
  top: 10%;
  left: 2%;
  max-width: 65%;
  max-height: 46vh;
}

.h1 {
  cursor: pointer;
}
.homeText {
  cursor: pointer;
  border: none;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
}

.aboutText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 18%;
}

.projectsText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 33%;
}

.contactText {
  cursor: pointer;
  border: none;
  background-color: black;
  position: absolute;
  color: white;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 48%;
}

.aboutHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
  top: 3%;
}

.aboutMe {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 10%;
  width: 70%;
}

.skillsHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
  top: 33%;
}

.skills {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 40%;
  width: 70%;
}

.educationHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
  top: 18%;
}

.education {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 25%;
  width: 70%;
}

.hobbiesHeader {
  border: none;
  background-color: white;
  position: absolute;
  color: black;
  padding: 0.5%;
  font-family: "Roboto", serif;
  font-size: 2vw;
  left: 3%;
  top: 48%;
}

.hobbies {
  background-color: black;
  position: absolute;
  color: white;
  left: 3%;
  top: 55%;
  width: 70%;
}

.gitIcon {
  position: absolute;
  height: 15%;
  top: 5%;
  left: 3%;
}

.gitLink {
  position: absolute;
  color: white;
  top: 10%;
  left: 13%;
}

.linkedinIcon {
  position: absolute;
  height: 15%;
  top: 30%;
  left: 3%;
}

.linkedinLink {
  position: absolute;
  color: white;
  top: 35%;
  left: 13%;
}

.mailIcon {
  position: absolute;
  height: 15%;
  top: 55%;
  left: 3%;
}

.mailLink {
  position: absolute;
  color: white;
  top: 60%;
  left: 13%;
}

.nameText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  background-clip: border-box;
  cursor: pointer;
  position: absolute;
  font-family: "Roboto", serif;
  font-size: 10vw;
  width: 100%;
}
